dbdata.tar.gz
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.venv/
.env
env/
venv/
ENV/
log/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/*/src/main/resources/application-*.yml
src/main/resources/application-*.yml

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
.pdm.toml
.pdm-python
.pdm-build/

#### Generated ####gi
api/generates/index.ts
generates/index.ts
*.log
generates/*

__pypackages__/

**.txt
**.csv
**.pdf
**.DS_Store
.java-version

